.topbar{
    background-color: transparent;
}
.navButton{
    font-size: 20px;
}
.navButton:hover{
    background-image: url(../../images/medcloud.png);
    background-color: blue;
    background-blend-mode:color-burn;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease-in-out 0.3s;
}

.img-top:hover{
    transform:scale(1.1);
    transition: 200ms ease-in-out;
}